In [ ]:
import pandas as pd
import sqlalchemy as db
import psycopg2
from psycopg2 import sql

In [ ]:
pd.set_option('display.max_columns', None)

# Set up connection to PostgreSQL Server

In [ ]:
# Define connnection parameters
db_params = {
    'user': 'postgres',
    'password': 'password',
    'host': 'localhost',
    'port': '5432'
}

In [ ]:
# Connect to PostgreSQL server
conn = psycopg2.connect(**db_params)

# Set autocommit = True to execute SQL statement
conn.autocommit = True

# Define database name

In [ ]:
# define database name
db_name = 'airbnb'

In [ ]:
# Initialize connection to PostgreSQL
cur = conn.cursor()

# Create the database
cur.execute(sql.SQL("CREATE DATABASE {}").format(sql.Identifier(db_name)))

print(f"Database '{db_name}' created successfully.")

In [ ]:
# Close the database connection
conn.close()

In [ ]:
print(f'Database {db_name} created successfully.')

In [ ]:
# Define group names
groups = ["amsterdam", "london", "new_york", "paris", "rome"]

# Create a connection engine to the database

In [ ]:
# Create connection engine
# user postgres, password admin, database
engine = db.create_engine(f'postgresql://postgres:password@localhost:5432/{db_name}')

conn = engine.raw_connection()

In [ ]:
# Initialize connection to PostgreSQL
cur = conn.cursor()

In [ ]:
# table counter
table_count = 0

# Use a for loop to create all 10 tables (5 for each group)

In [ ]:
# create tables using for-loop
for group in groups:

    # Create a table for listings
    create_listings_table = f'''
    DROP TABLE IF EXISTS {group}_listing;
    CREATE TABLE IF NOT EXISTS {group}_listing (
        id bigint PRIMARY KEY,
        name VARCHAR(255),
        host_since DATE,
        host_location VARCHAR(255),
        host_is_superhost BOOL,
        host_identity_verified BOOL,
        property_type TEXT,
        price FLOAT,
        review_scores_rating FLOAT,
        review_scores_accuracy FLOAT,
        review_scores_cleanliness FLOAT,
        review_scores_checkin FLOAT,
        review_scores_communication FLOAT,
        review_scores_location FLOAT,
        review_scores_value FLOAT
    );'''
        
    # Create a table for reviews
    create_reviews_table = f'''
    DROP TABLE IF EXISTS {group}_review;
    CREATE TABLE IF NOT EXISTS {group}_review (
        listing_id bigint,
        date DATE NOT NULL,
        comments TEXT,
        detected_lang TEXT
    );'''
    
     # REFERENCES {group}_listing (id)
    # Create cursor to execute SQL commands
    # for command in commands:
    cur.execute(create_listings_table)
    table_count += 1

    cur.execute(create_reviews_table)
    table_count += 1

# Close communication with server
conn.commit()
cur.close()
conn.close()

In [ ]:
print(f"{table_count} table(s) have been created in PostgreSQL.")

In [ ]:
# import counter
total_import = 0

In [ ]:
# create listings list
listings = ['atd_list', 'ldn_list', 'nyc_list', 'prs_list', 'rom_list']

In [ ]:
# create reviews list
reviews = ['p_atd_rev', 'p_ldn_rev', 'p_nyc_rev', 'p_prs_rev', 'p_rom_rev']

# Read all cleaned data into dataframes and ingest into PostgreSQL

In [ ]:
# read csv and import to PostgreSQL
for listing, review, group in zip(listings, reviews, groups):
        
    df_r = pd.read_csv(f'../../csv_cleaned/{review}.csv', sep=',')
    df_r.to_sql(name=f'{group}_review', con=engine, if_exists='replace', index=False)  # instead of append
    total_import += 1
    
    df_l = pd.read_csv(f'../../csv_cleaned/{listing}.csv', sep=',')
    df_l.to_sql(name=f'{group}_listing', con=engine, if_exists='replace', index=False)  # instead of append
    total_import += 1

In [ ]:
print(f"A total of {total_import} datasets have been ingested into PostgreSQL.")